.buttonHome {
  background-color: rgba(53, 20, 76, 0.5);
  text-shadow: 4px 4px 4px rgb(204, 204, 204);

  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 2px black;
  padding: 10px 20px;
  margin: 5px;
  transition: all 0.3s ease;
}
.buttonHome:hover {
  background-color: rgba(178, 42, 162, 0.8);
  cursor: pointer;
}
.buttonDetails {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  font-weight: lighter;
  font-size: 12pt;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  z-index: 1; /* add a higher z-index value */
}

.buttonDetails:hover {
  background-color: rgba(182, 228, 95, 0.8);
  transform: translateY(-2px);
}
