.bg {
  background-image: url("/Users/pedro/Desktop/Henry/P INDIVIDUALES/PI-Pokemon-main/client/src/img/40129.jpeg");
  background-size: cover;
  background-position: inherit;
  height: 100%;
  width: 100%;
  margin: -2%;
  margin-top: -8%;
}
