.title {
  margin-top: auto;
  color: white;
  font-size: 20pt;
  font-weight: 800;
  text-shadow: 6px 6px 6px rgb(1, 1, 1);
  line-height: 1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
