.container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 0%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.card {
  border-radius: 85px;
  border: 6px solid white;
  margin-bottom: 35px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 280px;
}

.card h1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 2px #000, 0 0 8px #fff;
}

.card img {
  width: 100px;
  height: 100px;
}

.card h2 {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.card p {
  font-size: 11px;
  margin: 0;
  text-transform: capitalize;
}

.card .buttonDetails {
  margin-top: 10px;
  width: 50px;
  height: 25px;
}
