.navbar {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 0px;
  margin-left: 400px;
}

.navbarButtons {
  display: flex;
  align-items: center;
}
.title {
  margin-top: -40px;
  color: white;
  font-size: 20pt;
  font-weight: 800;
  text-shadow: 6px 6px 6px rgb(1, 1, 1);
  line-height: 1;
}
.img {
  margin-top: -30px;
  margin-bottom: -25px;
  width: 260px;
  height: 110px;
  flex-wrap: wrap;
}
